body{
    background: linear-gradient(90deg,#42a2b9, #E6E9EA) ;
}

.boxLogin{
    background-color: #E6E9EA;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    top: 100px;
}

.boxRegister{
    background-color: #E6E9EA;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    top: 10px;
}

.boxSupport{
    background-color: #E6E9EA;
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;
    margin: auto;
    top: 50px;
       
}
.carousel-inner img {
    width: 500;
    height: 300;
  }

